
/assignment0/out
/assignment0/outputs
/assignment1/assignment1/.vs
/assignment1/assignment1/out
/assignment1/assignment1/outputs
/assignment0/.vs
assignment0/CMakeSettings.json
assignment1/assignment1/outputs.zip
